<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=192.168.10.8;database=amrock;uid=root;password=excel90();pooling=false;default command timeout=99999;" providerName="Mysql.Data.MysqlClient" name="MysqlConnection" />
    <add connectionString="server=173.192.83.98;database=scraping;uid=admin;password=Excel90();pooling=false;default command timeout=99999;" providerName="Mysql.Data.MysqlClient" name="Scraping" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.stringinformation.com" port="587" userName="support@stringinformation.com" password="Excel90()" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
     <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
             <controls>                 
               
             <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
      
     </pages>
    <authentication mode="Forms" />
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
    <sessionState timeout="2000" cookieless="false" mode="InProc" />
    <!--<identity impersonate="true" userName="IUSR_DBSERVER" password="excel90()"/>-->
    <!--<identity impersonate="true" userName="senthilr@stringinfo.com" password="skmei123@"/>-->
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=5.2.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1048576" executionTimeout="6000000" />
   
  </system.web>
  <appSettings>
    <add key="JsonFilePath" value="D:\\JsonFiles\\"/>
    <add key="TitleFlexInput" value="E:\\Input\" />
    <add key="TitleFlexOutput" value="E:\\Output\" />
    <add key="DBName" value="Demo" />
    <add key="server" value="localhost" />
    <add key="ScrapLink" value="http://localhost:8080/broward/webresources/broward florida/details?" />
    <add key="MultnomahORService" value="http://localhost:50882/api/MultnomahOR/FtpMultnomaOR" />
    <add key="PierceWAService" value="http://localhost:50882/api/PierceWA/FtpPierceWA" />
    <add key="GwinnettGAService" value="http://localhost:50882/api/GwinnettGA/FtpGwinnettGA" />
    <add key="RiversideCAService" value="http://localhost:50882/api/RiversideCA/FTP_riverCA" />
    <add key="KernCAService" value="http://localhost:50882/api/KernCA/FtpKernCA" />
    <add key="MecklenburgService" value="http://localhost:50882/api/MecklenburgCA/FtpMecklenburgCA" />
    <add key="DistofColumbiaDCService" value="http://localhost:50882/api/DistofColumbiaDC/FtpDistofColumbiaDC" />
    <add key="DekalbGAservice" value="http://localhost:50882/api/DekalbGA/FtpDekalbGA" />
    <add key="WashoeNVService" value="http://localhost:50882/api/WashoeNV/FtpWashoeNV" />
    <add key="FranklinOHService" value="http://localhost:50882/api/FranklinOH/FtpFranklinOH" />
    <add key="SaintLouisMOService" value="http://localhost:50882/api/SaintLouisMO/FtpSaintLouisMO" />
    <add key="screenShotPath" value="C:\storagesrv\sst\web scraping Image\Maricopa\" />
    <add key="screenShotPath-la" value="C:\storagesrv\sst\web scraping Image\LosAngeles\" />
    <add key="screenShotPath-river" value="C:\storagesrv\sst\web scraping Image\RiverSide\" />
    <add key="screenShotPath-wapierce" value="C:\storagesrv\sst\web scraping Image\Pierce\" />
    <add key="screenShotPath-GAgw" value="C:\storagesrv\sst\web scraping Image\GA_gwinnet\" />
    <add key="screenShotPath-NVWashoe" value="C:\storagesrv\sst\web scraping Image\Washoe\" />
    <add key="screenShotPath-ORMultomah" value="C:\storagesrv\sst\web scraping Image\OR_Multomah\" />
    <add key="screenShotPath-STLouis" value="C:\storagesrv\sst\web scraping Image\STLouis\" />
    <add key="screenShotPath-WAdc" value="C:\storagesrv\sst\web scraping ImageWAdc\" />
    <add key="screenShotPath-GAgw" value="C:\storagesrv\sst\web scraping Image\GA_gwinnet\" />
    <add key="screenShotPath-GAde" value="C:\storagesrv\sst\web scraping Image\GA_Dekalb\" />
    <add key="screenShotPath-WAdc" value="C:\storagesrv\sst\web scraping Image\WA_Distcolumbia\" />
    <add key="screenShotPath-Mecklenburg" value="C:\storagesrv\sst\web scraping Image\NC_Mecklenburg\" />
    <add key="screenShotPath-SanFrancisco" value="C:\storagesrv\sst\web scraping Image\CA_SanFrancisco\" />
    <add key="screenShotPath-OHFranklin" value="C:\storagesrv\sst\web scraping Image\OH_Franklin\" />
    <add key="screenShotPath-CAKern" value="C:\storagesrv\sst\web scraping Image\CA_Kern\" />
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <!--<add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>-->
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="Pages/Loginpage.aspx" />
      </files>
    </defaultDocument>
    <!--<defaultDocument>
      <files>
        <add value="Pages/Loginpage.aspx"/>
      </files>
    </defaultDocument>-->
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
  </system.webServer>
</configuration>